﻿<%@ Page Title="Feedback" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Feedback.aspx.cs" Inherits="FYPCode.Contact" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <hgroup class="title">
        <h1><%: Title %></h1> <br />
        <h2>Your opinions matter to us.</h2>
    </hgroup>

    <section class="feedback">
        <header>
            <h3></h3>
        </header>
        <p>
        </p>
    </section>

    <section class="feedback">
        <header>
            <h3></h3>
        </header>
        <p>

        </p>
    </section>
</asp:Content>